
#basic{
    background-color: lightskyblue;
    left: 0;
    right: 0;
    position: relative;
    font-size: small;
    vertical-align: middle;
    align-content: initial;
}
#Phillip{
    background-color: white;
    position: relative;
    left: 0;
    right: 0;
    font-size: large;
    color:lightseagreen !important;
    vertical-align: middle;
}
#easyalarm{
    left: 0;
    right: 0;
    position: relative;
    background-color: white;
    font-size: small;
    vertical-align: middle;
}
#parent{
    position: absolute;
    left: 0;
    right: 0;
}
h2{
    color:white
}
h3{
    color:white;
    font-size: large;
}
#end{
    position: relative;
    left: 0;
    right: 0;
}
body{
    color: gray;
    background-color: lightskyblue;
    align-content: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0;
}
